[Unit]
Description=Make screenshot of monitor stream

[Timer]
OnBootSec=30
OnUnitActiveSec=60
Unit=monitor-thumbnail.service

[Install]
WantedBy=timers.target
